.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F5F5F5;
    padding: 6rem 0;
    gap: 2rem;
    width: 100%;
}
.login__title{
    font-size: 1.2rem;
    font-weight: 700;
}
.login__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    width: 40%;
}
.form__auth{
    padding: 1rem 0.5rem; 
    width: calc(100% - 1rem);
    text-align: center;
    background: lightcoral;
    transition: all .5s linear;
}
.form__auth--hidden{
    opacity: 0;
    visibility: hidden;
    height: 0;
    padding: 0;
}
@media screen and (max-width:768px) {
    .login__form{
        width: 90%;
    }
}